.DS_Store
.env.*.php
.env.php
Thumbs.db

/bootstrap/compiled.php
/composer.lock
/composer.phar
/node_modules/
/photos/
/public/scripts/
/public/styles/
/tests/_output/*
/tests/_photos/
/tests/acceptance/AcceptanceTester.php
/tests/functional/FunctionalTester.php
/tests/unit/UnitTester.php
/vendor/
/workbench/
